In [1]:
import pickle
import pandas as pd

with open("player_data.pkl", 'rb') as picklefile:
   player_data = pickle.load(picklefile)

In [2]:
player_data.head()

,name,team,season,minutes_played,games_played,games_started,points,field_goals,wins,losses,...,avg_points,avg_field_goals,avg_fg_att,avg_fg3_pct,avg_steals,avg_salary,avg_age,avg_per,avg_pct_started,avg_wl_ratio
0,John Wall,Washington Wizards,2016,2784,77,77,1531,572,41,41,...,926.8,355.6,764.4,0.2966,88.2,7416580.6,27.4,14.86,0.75122,1.0
1,Marcin Gortat,Washington Wizards,2016,2256,75,74,1012,433,41,41,...,926.8,355.6,764.4,0.2966,88.2,7416580.6,27.4,14.86,0.75122,1.0
2,Otto Porter,Washington Wizards,2016,2276,75,73,871,339,41,41,...,926.8,355.6,764.4,0.2966,88.2,7416580.6,27.4,14.86,0.75122,1.0
3,Garrett Temple,Washington Wizards,2016,1951,80,43,582,201,41,41,...,926.8,355.6,764.4,0.2966,88.2,7416580.6,27.4,14.86,0.75122,1.0
4,Jared Dudley,Washington Wizards,2016,2098,81,41,638,233,41,41,...,926.8,355.6,764.4,0.2966,88.2,7416580.6,27.4,14.86,0.75122,1.0

In [3]:
player_data = player_data = player_data.ix[:,0:3]
player_data['first'], player_data['last'] = player_data['name'].str.split(' ', 1).str
player_data.head()

             name                team  season    first    last
0       John Wall  Washington Wizards    2016     John    Wall
1   Marcin Gortat  Washington Wizards    2016   Marcin  Gortat
2     Otto Porter  Washington Wizards    2016     Otto  Porter
3  Garrett Temple  Washington Wizards    2016  Garrett  Temple
4    Jared Dudley  Washington Wizards    2016    Jared  Dudley

In [8]:
player_data['letter'] = player_data['last'].astype(str).str[0]
player_data['letter'] = player_data.letter.str.lower()

In [10]:
firsts = player_data.sort_values(['name','season'])
firsts.head()

              name                   team  season   first    last letter
1114  Aaron Brooks        Houston Rockets    2009   Aaron  Brooks      b
1105  Aaron Brooks        Houston Rockets    2010   Aaron  Brooks      b
459   Aaron Gordon          Orlando Magic    2016   Aaron  Gordon      g
134     Aaron Gray        Toronto Raptors    2012   Aaron    Gray      g
1182  Adonal Foyle  Golden State Warriors    2006  Adonal   Foyle      f

In [11]:
with open('firsts.pkl', 'wb') as picklefile:
   pickle.dump(firsts, picklefile)